# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Jupyter Notebook
.ipynb_checkpoints

# Data
/data
/.data

# Config Files
**/config.py

#Data.json
*.json

#big models
models/